<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAREADER</title>
</head>
<body>
    <h3>Add a new car</h3>
    <form method="POST" action="/listings">
        <label for="title">Title:</label><br>
        <input id="title" name="listing[title]" placeholder="Enter title" type="text" required>
        <br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="listing[description]" placeholder="Type description" required></textarea>
        <br><br>

        <label for="image">Image URL:</label><br>
        <input id="image" name="listing[image]" placeholder="URL" type="text" required>
        <br><br>

        <label for="price">Price:</label><br>
        <input id="price" name="listing[price]" placeholder="Enter price" type="number" required>
        <br><br>

        <label for="location">Location:</label><br>
        <input id="location" name="listing[location]" placeholder="Enter location" type="text" required>
        <br><br>

        <label for="country">Country:</label><br>
        <input id="country" name="listing[country]" placeholder="Enter country" type="text" required>
        <br><br>

        <button type="submit">Add</button>
    </form>
</body>
</html>
